header a{
  float: right;
  padding:10px 20px 10px 30px;
  border: 1px solid black;
  text-align: right;
  margin: 10px 10px 0px 0px;
  text-decoration: none;
  background-color: black;
}

.main_admin_container{
  background-color: grey;
  height: 60%;
  width: 100%;
  text-align: center;
}
.main_admin_container p{
  font-size: 4em;
  color: white;
}

footer p{
  color: white;
}
