.main_admin_options li{
  display:none;
}
.main_admin_options:hover li{
  display:inline-block;
}
.main_admin_options{
  float: right;
}
.main_admin_container{
  text-align: center;
}
.main_admin_container a{
    padding: 10px 10px 0px 10px;
    font-size: 1.5em;
}
.main_admin_logo{
  margin-top: 0.5%;
  margin-left: 0.5%;
}
.main_admin_container ul li ul{
  display: none;
}
.main_admin_container ul li:hover ul{
  display: block;
  position: absolute;
  margin-right: 150px;
  text-align: justify;
}
.main_admin_container ul li{
  display:inline-block;
  position: relative;
}
header span{
  color: white;
}
