body, html{
  margin:0;
  padding:0;

}

body{
  background-color: white;
  height: 100%;
  width: 100%;
}

header{
  background-color: blue;
  width: 100%;
  height: 80px;
}

footer{
  background-color: black;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  z-index: 10000;
}
