{% extends '::base.html.twig' %}
{% block body %}
<header>
  <img src="{{asset('images/logo.png')}}" alt="logo" class="main_admin_logo">
  <a href="{{ path("fos_user_security_login")}}">Iniciar Sesión</a>
  <a href="{{ path("fos_user_registration_register")}}">Registrese</a>
</header>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ ''|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'Login'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'Desconectar'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
<footer>
  <p>@2017 Diseñado por: Liam Verdejo</p>
</footer>
{% endblock %}
