{% extends '::base.html.twig' %}

{% block body %}
  <header>
    <img src="{{asset('images/logo.png')}}" alt="logo" class="main_admin_logo">
    <a href="{{ path("fos_user_security_login")}}">Iniciar Sesión</a>
    <a href="{{ path("fos_user_registration_register")}}">Registrese</a>
  </header>
  <div class="main_admin_container">
    <p><strong>Bienvenido, Elija una opción para poder acceder.</strong></p>
  </div>
  <footer>
      <p>@2017 Diseñado por: Liam Verdejo</p>
  </footer>
{% endblock %}
