{% extends '::base.html.twig' %}

{% block title %}Videoclub-Login{% endblock %}

{% block body %}
<header>
  <img src="{{asset('images/logo.png')}}" alt="logo" class="main_admin_logo">
  <a href="{{ path("videoclub_login")}}">Iniciar Sesión</a>
  <a href="{{ path("videoclub_register")}}">Registrese</a>
</header>
     <form action="{{path('videoclub_check')}}" method="post">
    <label for="username">Usuario:</label>
    <input type="text" id="username" name="_username" value="{{last_username}}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />


        <input type="hidden" name="_target_path" value="videoclub_mainAdmin" />


     <button type="submit">login</button>
</form>
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="flash-notice">
    {{ flashMessage }}
</div>
{% endfor %}
{% endblock %}
