{% extends '::base.html.twig' %}

{% block title %}Videoclub-Register{% endblock %}
{% block body %}
<header>
  <img src="{{asset('images/logo.png')}}" alt="logo" class="main_admin_logo">
  <a href="{{ path("videoclub_login")}}">Iniciar Sesión</a>
  <a href="{{ path("videoclub_register")}}">Registrese</a>
</header>
   {{form_start(registerU)}}
   <div class="col-lg-6">
     {{form_row(registerU.nombre)}}
   </div>
   <div class="col-lg-6">
     {{form_row(registerU.apellido1)}}
   </div>
   <div class="col-lg-6">
     {{form_row(registerU.apellido2)}}
   </div>
   <div class="col-lg-6">
     {{form_row(registerU.email)}}
   </div>
   <div class="col-lg-6">
     {{form_row(registerU.dniNie)}}
   </div>
   <div class="col-lg-6">
     {{form_row(registerU.direccion)}}
   </div>
   <div class="col-lg-6">
     {{form_row(registerU.telefono1)}}
   </div>
   <div class="col-lg-6">
     {{form_row(registerU.telefono2)}}
   </div>
   <div class="col-lg-6">
     {{form_row(registerU.fechaNacimiento)}}
   </div>
   <div class="col-lg-6">
     {{form_row(registerU.fechaRegistro)}}
   </div>
   <div class="col-lg-6">
     {{form_row(registerU.idpais)}}
   </div>
   <div class="col-lg-6">
     {{form_row(registerU.username)}}
   </div>
   <div class="col-lg-6">
     {{form_row(registerU.plainpassword)}}
   </div>
   <div class="col-lg-6">
     {{form_row(registerU.Guardar)}}
   </div>
   <div class="col-lg-6">
     {{form_row(registerU.Borrar)}}
   </div>
  {{form_end(registerU)}}
{% endblock %}
