{% extends '::base.html.twig' %}

{% block title %}Videoclub-viewUsers{% endblock %}

{% block body %}
{% if app.user.idrol != null and app.user.idrol.idrol == 1 %}
<header>
  <img src="{{asset('images/logo.png')}}" alt="logo" class="main_admin_logo">
    <span>Conectado como: {{app.user.nombre}}</span>
  <ul class="main_admin_options"><i class="fa fa-wrench"></i>Opciones
    <li><a href="{{path("videoclub_editUser", {'id': app.user.id})}}">Modificar Datos</a></li>
    <li><a href="{{path ("videoclub_homepage")}}">Cerrar Sesión</a></li>
  </ul>
</header>
<div class="main_admin_container">
  <ul>
    <li><a href="{{ path ("videoclub_mainAdmin")}}" class="main"><i class="fa fa-home"></i>Inicio</a></li>
    <li class="product"><a href="{{ path ("videoclub_showProduct")}}"><i class="fa fa-film"></i>Productos</a>
      <ul>
        <li><a href="{{ path ("videoclub_addProduct")}}"><i class="fa fa-plus"></i>Añadir Productos</a></li>
      </ul>
    </li>
    <li class="rent">
      <a href="{{ path ("videoclub_rent")}}"><i class="fa fa-book"></i>Alquilar</a>
      <ul>
      <li><a href="{{ path ("videoclub_viewRent")}}"><i class="fa fa-plus"></i>Ver alquileres</a></li>
      </ul>
    </li>
    <li><a href="{{ path ("videoclub_viewReserve")}}"><i class="fa fa-check"></i>Reservas</a>
      <ul>
        <li><a href="{{ path ("videoclub_reserve")}}"><i class="fa fa-plus"></i>Añadir Reservas</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ path ("videoclub_viewIncidence")}}"><i class="fa fa-wrench"></i>Incidencias</a>
      <ul>
        <li><a href="{{ path ("videoclub_incidence")}}"><i class="fa fa-plus"></i>Añadir Incidencias</a></li>
      </ul>
    </li>
    <li class="users">
      <a href="{{path ("videoclub_showUser")}}"><i class="fa fa-user"></i>Usuarios</a>
      <ul>
        <li><a href="{{path ("videoclub_addUser")}}"><i class="fa fa-user-plus"></i>Añadir Usuarios</a></li>
      </ul>
    </li>
    <li class="item">
      <a href="{{path ("videoclub_viewItem")}}"><i class="fa fa-search"></i>Items</a>
      <ul>
        <li><a href="{{path ("videoclub_addItem")}}"><i class="fa fa-plus"></i>Añadir item</a></li>
      </ul>
    </li>
    </ul>
</div>
{% else %}
<header>
  <img src="{{asset('images/logo.png')}}" alt="logo" class="main_admin_logo">
  <ul class="main_admin_options"><i class="fa fa-wrench"></i>Opciones
    <li><a href="{{path("videoclub_editUser", {'id': app.user.id})}}">Modificar Datos</a></li>
    <li><a href="{{path ("videoclub_homepage")}}">Cerrar Sesión</a></li>
  </ul>
</header>
<div class="main_admin_container">
  <ul>
    <li><a href="{{ path ("videoclub_mainAdmin")}}" class="main"><i class="fa fa-home"></i>Inicio</a></li>
    <li class="product"><a href="{{ path ("videoclub_showProduct")}}"><i class="fa fa-film"></i>Productos</a>
    </li>
        <li><a href="{{ path ("videoclub_reserve")}}"><i class="fa fa-plus"></i>Añadir Reservas</a></li>
    </li>
    </ul>
</div>
{% endif %}
  <table class="table_incidence">
  {% for user in users %}
      <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.nombre }}</td>
          <td>{{ user.apellido1 }}</td>
          <td>{{ user.apellido2 }}</td>
           <td>{{ user.dniNie }}</td>
          <td>{{ user.direccion }}</td>
          <td>{{ user.telefono1 }}</td>
          <td>{{ user.telefono2 }}</td>
          <td>{{ user.fechaNacimiento|date('Y-m-d') }}</td>
          <td>{{ user.idpais.nombre }}</td>

          <td><a href="{{path("videoclub_editUser", {'id': user.id})}}">Modificar</a></td>
          <td><a href="{{path("videoclub_deleteUser", {'id': user.id})}}">Eliminar</a></td>

      </tr>
  {% endfor %}

    </table>
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
{% endblock %}
