{% extends '::base.html.twig' %}

{% block title %}Videoclub-viewReserve{% endblock %}

{% block body %}
<header>
  <img src="{{asset('images/logo.png')}}" alt="logo" class="main_admin_logo">
    <span>Conectado como: {{app.user.nombre}}</span>
  <ul class="main_admin_options">Opciones
    <li><a href="#">Modificar Datos</a></li>
    <li><a href="{{path ("videoclub_homepage")}}">Cerrar Sesión</a></li>
  </ul>
</header>
<div class="main_admin_container">
  <ul>
    <li><a href="{{ path ("videoclub_mainAdmin")}}" class="main"><i class="fa fa-home"></i>Inicio</a></li>
    <li class="product"><a href="{{ path ("videoclub_showProduct")}}"><i class="fa fa-film"></i>Productos</a>
      <ul>
        <li><a href="{{ path ("videoclub_addProduct")}}"><i class="fa fa-plus"></i>Añadir Productos</a></li>
      </ul>
    </li>
    <li class="rent">
      <a href="{{ path ("videoclub_rent")}}"><i class="fa fa-book"></i>Alquilar</a>
      <ul>
      <li><a href="{{ path ("videoclub_viewRent")}}"><i class="fa fa-plus"></i>Ver alquileres</a></li>
      </ul>
    </li>
    <li><a href="{{ path ("videoclub_viewReserve")}}"><i class="fa fa-check"></i>Reservas</a>
      <ul>
        <li><a href="{{ path ("videoclub_reserve")}}"><i class="fa fa-plus"></i>Añadir Reservas</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ path ("videoclub_viewIncidence")}}"><i class="fa fa-wrench"></i>Incidencias</a>
      <ul>
        <li><a href="{{ path ("videoclub_incidence")}}"><i class="fa fa-plus"></i>Añadir Incidencias</a></li>
      </ul>
    </li>
    <li class="users">
      <a href="{{path ("videoclub_showUser")}}"><i class="fa fa-user"></i>Usuarios</a>
      <ul>
        <li><a href="{{path ("videoclub_addUser")}}"><i class="fa fa-user-plus"></i>Añadir Usuarios</a></li>
      </ul>
    </li>
    <li class="item">
      <a href="{{path ("videoclub_viewItem")}}"><i class="fa fa-search"></i>Items</a>
      <ul>
        <li><a href="{{path ("videoclub_addItem")}}"><i class="fa fa-plus"></i>Añadir item</a></li>
      </ul>
    </li>
    </ul>
</div>
  <table class="table_incidence">
  {% for reserve in reserves %}
      <tr>
          <td>{{ reserve.idreserva }}</td>
          <td>{{ reserve.idcliente }}</td>
          <td>{{ reserve.iditem.idproducto.titulo}}</td>
          <td>{{ reserve.fechaReserva|date('Y-m-d') }}</td>

          <td><a href="{{path("videoclub_editReserve", {'id': reserve.idreserva})}}">Modificar</a></td>
          <td><a href="{{path("videoclub_deleteReserve", {'id': reserve.idreserva})}}">Eliminar</a></td>

      </tr>
  {% endfor %}

    </table>
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
{% endblock %}
